<!-- Bootstrap icons-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
<!-- Core theme CSS (includes Bootstrap)-->
<link href="css/styles.css" rel="stylesheet" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<%- include('partials/header.ejs') -%>

<!-- About Us -->
<div class="container my-5">
  <div class="row">
    <div class="col-lg-6">
      <h1>About Us</h1>
      <p>
        Gadget Galaxy is an online store that offers a wide range of laptops, computers, 
        and accessories such as keyboards, mice, and speakers. The store provides a convenient 
        platform for customers to purchase high-quality products from the comfort of their homes. 
        Gadget Galaxy’s laptop collection includes top brands such as Apple, Dell, HP, Lenovo, and Acer. 
        The store also offers a variety of laptop accessories such as laptop stands, memory card readers,
        anti-dust plugs, power banks, keyboard replacement keys, and mouse pads. Customers can choose from 
        a range of external keyboards if they find their laptop keyboard unfit for typing. Gadget Galaxy 
        also provides replacements for damaged laptop keyboards or touchpads. The store’s collection of c
        omputer accessories includes digital pens, laptop displays, printer covers, projector mounts, 
        projector screens, number pads, screen guards, and hard disk skins. Gadget Galaxy’s collection 
        of speakers includes top brands such as JBL and Bose. The store also offers free shipping on orders 
        above a certain amount and provides discounts on select products. Check out Gadget Galaxy’s website 
        to explore their vast collection of laptops and accessories!
      </p>
    </div>
    <div class="col-lg-6 text-center">
      <img src="/gallary/logo.jpeg" alt="ECommerce logo" width="500" height="500">
      <!-- <img class="img-fluid" src="https://via.placeholder.com/350x150" alt=""> -->
    </div>
  </div>
</div>

<!-- Footer -->
<%- include('partials/footer.ejs') -%>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="./js/scripts.js"></script>

